.rodape{height: 119px; @include largura-padrao; background-color: #252525; display: flex; justify-content: space-around; align-items: center;  overflow: hidden;

    &-lista-item{display: inline-block; margin-left: 20px;}
    .icon{margin-left: 20px;}
   
  
   






}